$font-stack: 'VT323', monospace;
$primary-color: #ffffff;
$background-color: #000000;
$font-size-stack: 1.46em;
$btn-color: #fedf03;

body {
  margin: 0;
  background-color: $background-color;
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size-stack;
  z-index: 1;
  color: $primary-color;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

/**************************************Grid********************************/
.subcontainer {
  display: grid;
  grid-template: repeat(6, 130px) / repeat(7, 1fr);
  justify-content: center;
  background-image: url("images/p2.png");
  background-size: 100% 100%;
  grid-gap: 3px;
  border: 2px solid $primary-color;
  border-radius: 10px;
  grid-template-areas: "A1 A2 A3 A4 A5 A6 A7"
                       "B1 B2 B3 B4 B5 B6 B7"
                       "C1 C2 C3 C4 C5 C6 C7"
                       "D1 D2 D3 D4 D5 D6 D7"
                       "E1 E2 E3 E4 E5 E6 E7"
                       "F1 F2 F3 F4 F5 F6 F7";
}

.item1 {
  grid-column: B2 / B4;
  grid-row: B2;
  justify-content: center;
  color: $primary-color;
  padding-top: 10%;
  padding-bottom: 15%;
}

.item1 h1 {
  font-family: $font-stack;
  font-size: 3.2em;
  margin-bottom: 7%;
}

#header {
  margin-left: 32%;
  margin-right: -35%;
}

.item2 {
  grid-column: C3 / C5;
  grid-row: C3;
  justify-content: center;
}

.item3 {
  grid-column: C2 / C3;
  grid-row: C2;
}

.pokemon img {
  width: 100%;
  height: 100%;
}

.pokemon h1 {
  font-family: $font-stack;
  font-size: 1.98em;
}

.mypokemons img {
  width: 250px;
  height: 250px;
}

.mypokemons h1 {
  font-family: $font-stack;
  font-size: 1.98em;
}

.item4 {
  grid-area: C4 / D4;
  margin-top: 3%;
  margin-left: 3%;
  justify-content: flex-start;
}

.item5 {
  grid-column: C5 / C6;
  grid-row: C5;
  margin-top: 5%;
  margin-left: 4%;
  justify-content: flex-end;
}

#pokemonInfo {
  border-right: 1px solid #3c3c3c;
}
#pokemonText {
  padding-left: 6%;
}

.item6{
  grid-area: F1;
  justify-content: center;
}

.item7{
  grid-area: F6;
  justify-content: center;
  margin-bottom: 20%;
}

.item8 {
  grid-column: C4 / C5;
  grid-row: C4;
}

.item9 {
  grid-column: C6;
  grid-row: C6;
}


/**********************************Buttons*******************************/

button {
  font-family: $font-stack;
  text-decoration: none;
}

button:focus {
  outline: none;
}

.homebtn {
  background-color: $btn-color;
  border: 3px solid $background-color;
  padding: 15%;
  margin: 4px 2px;
  z-index: 3;
  cursor: pointer;
  border-radius: 50%;
  animation: glowing 1500ms infinite;
  outline-style: none;
}
@keyframes glowing {
  0% { background-color: $btn-color; box-shadow: 0 0 3px $btn-color; }
  50% { background-color: #fffa7c; box-shadow: 0 0 40px #fffa7c; }
  100% { background-color: $btn-color; box-shadow: 0 0 3px $btn-color; }
}

.searchbtn {
  margin-top: 5%;
  background-image: linear-gradient(to right, #ff0054 0%, #e92a33 100%);
	border-radius: 10px;
	color: $primary-color;
  font-size: 1.5em;
  text-transform: uppercase;
	padding: 1%;
	width: 100%;
  transition: all ease 0.3s;
}

.pokebtn {
  background-color: $btn-color;
  color: $background-color;
  border: 3px solid $background-color;
  padding: 5px;
  font-size: .64em;
}
a {
  color: $background-color;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: $background-color;
}

/*********************************Animations************************************/

.fadeIn {
  opacity: 1;
  transition: 8s opacity;
}

.fadeOut {
  opacity: 0;
  transition: none;
}

.blurFadein {
  animation: blurFadeIn 2s ease-in;
}
@-webkit-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px $primary-color;
		-webkit-transform: scale(.8);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px $primary-color;
		-webkit-transform: scale(.9);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px $primary-color;
		-webkit-transform: scale(1);
	}
}
